.wellcome__page{
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #222221;
  user-select: none;
}

.wellcome__page>h2{
  font-size: 60px;
  font-family: cursive;
  color: floralwhite;
}