@import url(./components/component/Components.css);

h1, h2, h3 ,h4 ,h5 {
  color: #282c34;
}

.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.app__content {
  display: flex;

  border: 1px solid wheat;
  border-radius: 5px;

  background-color: #fff;
}

.messages__content{
 height: 600px;
 display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages__content-title {
  font-size: 25px;
  padding: 10px;
  font-weight: lighter;
}

