.messages__bord {
  height: 600px;
  padding: 10px;
  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
  overflow: auto;
}

.message__body{
  width: 150px;
  background-color: blue;
  border-radius: 10px;
  padding: 6px;
  margin: 6px;
}

.message__body>p{
  margin: 0;
}

.mess__author{
 font-size: 16px;
 font-weight: 700;
}

.mess__text {
  font-size: 18px;
  font-style: italic;
  overflow-wrap: anywhere;

  color: wheat;
}


/*Form*/
.message__form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
}

.message__form-input{
  font-size: 14px;
  outline: none;
  border: none;
  padding: 8px;
  width: 100%;
}

.message__form-btn{
  background: none;
  border: none;
  cursor: pointer;
}

.message__form-btn>img{
  height: 35px;
  width: 35px;
}

/*Chat list*/
.chat-list__body{
  width: 200px;
  border-right: 1px solid rgba(var(--b6a,219,219,219),1);
}

.chat-list__body>h2{
  color: rgb(41, 51, 61);
  margin: 0;
  padding: 15px;

  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);

  font-size: 0.7em;
  font-style: normal;
  text-align: center;

  cursor: default;
  user-select: none;
}

.chat-list__content{
  padding: 10px;
}

/*Chat item */
.chat-item__body{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  background-color: #656060;
  border-radius: 5px;

  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.chat-item__body:hover{
  transform: scale(1.025);
  box-shadow: 0px 0px 20px 0px #656060;
}

.chat-item__icon{
  border-radius: 50%;
  margin-right: 10px;
}

.chat-item__name{
  cursor: pointer;
  padding: 5px 0;
  font-size: .6em;
  margin: 0;
}