.top__menu {
  background-color: currentColor;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.top__menu>.MuiButton-root{
  color: white;
  font-size: 1rem;
}

.menu__link{
  text-decoration: none;
  margin-left: 10px;
}


.messages__bord {
  width: 700px;
  height: 600px;
  display: flex;
  flex-direction: column;

  margin: 10px;
  overflow: auto;
}

.messages__attant{
  font-weight: 300;
  font-style: italic;
  font-size: 20px;
  
  color: #716969;
  margin: 0;
  text-align: center;
}

.message__body{
  width: 150px;
  background-color: blue;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 10px;
}

.message__body[datatype = "Robot"] {
  background-color: rgb(86, 86, 126);
}

.message__body:last-child{
  margin-bottom: 0px;
}

.message__body>p{
  margin: 0;
}

.message__author{
 font-size: 16px;
 font-weight: 700;
}

.message__text {
  font-size: 18px;
  font-style: italic;
  overflow-wrap: anywhere;

  color: wheat;
}

/*Form*/
.message__form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3px;
  background-color: #f3f3f3;
  border-top: 1px solid rgba(var(--b6a,219,219,219),1);
}

.message__form-input{
  font-size: 14px;
  outline: none;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  padding: 8px;
  width: 100%;
}

.message__form-btn{
  background-color: unset;
  border: none;
  cursor: pointer;
}

.message__form-btn .MuiListItemIcon-root{
  min-width: 0px;
  padding: 4px;
}

.message__form-btn .MuiSvgIcon-root{
  height: 25px;
  width: 25px;
  transition: color .3s ease-in;
}

.message__form-btn .MuiListItemIcon-root:hover{
  color: blueviolet;
}


/*Chat list*/
.chat-list__body{
  width: 200px;
  border-right: 1px solid rgba(var(--b6a,219,219,219),1);
}

.chat-list__body>h2{
  background-color: #f3f3f3;
  color: rgb(41, 51, 61);
  margin: 0;
  padding: 15px;

  border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);

  font-size: 20px;
  font-weight: 500;
  text-align: center;

  cursor: default;
  user-select: none;
}

.chat-list__content{
  padding: 10px;
}

/*Chat item */
.chat-item__body{
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  background-color: #2255efcf;
  border-radius: 10px;

  padding: 8px 16px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.chat-item__body:hover{
  transform: scale(1.025);
  box-shadow: 0px 0px 10px 0px #2255efcf;
}

.chat-item__icon{
  border-radius: 50%;
  margin-right: 10px;
}

.chat-item__link{
text-decoration: none;
}

.chat-item__name{
  color: white;
  padding: 5px 0;
  font-size: 18px;
  margin: 0;
}