.add-chats{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10px;
  background-color: #f3f3f3;
  border-top: 1px solid rgba(var(--b6a,219,219,219),1);
}

.add_btn{
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: coral;
  color: white;
  font-size: 20px;
  line-height: 1;
  cursor: pointer;
}

.add_input{
  width: 140px;
}