.no-chat__content {
  padding: 25px calc(50% - 570px) 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.no-chat__img {
  height: 600px;
}

.no-chat__title{
  font-style: normal;
  font-size: 51px;
  text-transform: uppercase;
}